.jumbotron
  %h1.display-4 Blah
  %p.lead Some content
  %hr
  %p Maybe some other stuff
%h1 Some Letters
.row.row-cols-1.row-cols-md-3.mt-4
  - @letter.each do |letter|
    .col.mb-4
      .card
        .card-body
          %h4.card-title= letter.title
          %p.card-text= letter.body
